
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

body{
    color: whitesmoke;
    background-image: url(pula.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: roboto;
}
.color{
    color: rgb(250, 0, 0);
}

.heading{
    font-size: 4rem;
    margin-top: 15px;
    margin-bottom: 0;
}

img{
    width: 150px;
    height: 200px;
    margin-bottom: 30px;
}

.subheading{
    font-family: "Protest Revolution", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    font-size: 2rem;
    padding-left: 20%;
    padding-right: 20%;
}

