body {
    font-family: "Crimson Text", serif;
    margin: 0;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #80170f;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo img {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none; 
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.menu li {
    margin-right: 20%;
}

.menu li a {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #5b1515;
        padding: 10px 0;
        text-align: center;
        z-index: 999;
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
        margin-left: 10px;
    }

    .menu.show-menu {
        display: flex;
    }

    .menu li {
        margin: 10px;
        margin-left: 0; 
        margin-right: 0px; 
    }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#home {
    width: 100%;
    background: linear-gradient(to bottom, #80170f, #ffffff);
    color: white;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.cover-image {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.welcome-text {
    max-width: 40%;
    text-align: left;
    padding: 20px;
}

.welcome-text h1 {
    font-size: 4rem; 
    margin: 0;
    line-height: 1; 
}

.welcome-text .projects-text {
    font-size: 3rem; 
}

.highlight {
    color: #80170f; 
}


#about .container {
    padding: 50px 20px;
    background-color: #ffffff;
    color: #000000; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .about-text h3 {
    color: #80170f; 
}

#about .about-text h4,
#about .about-text p {
    color: #000000; 
}

#about .about-text h4 {
    margin-top: 0; 
}

.me {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
}

.polaroid {
    width: 40%;
    text-align: center;
    position: relative;
}

.polaroid img {
    max-width: 80%;
    height: auto;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.polaroid img:hover {
    transform: scale(1.05); 
    box-shadow: 0 12px 20px #80170f; 
}


.about-text {
    width: 50%;
    text-align: justify;
    font-size: 1.1rem;
    margin-top: 20px; 
}


@media screen and (max-width: 768px) {
    .me {
        flex-direction: column; 
        align-items: center; 
    }

    .polaroid {
        width: 80%; 
    }

    .about-text {
        width: 80%; 
    }
}


#blog {
    background-color: #fff;
    padding: 50px 20px;
    color: #80170f;
    text-align: center;
}

.blog-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog-post {
    max-width: 30%; 
    margin-bottom: 30px;
    position: relative; 
}

.blog-post img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out; 

.blog-post:hover img {
    transform: scale(1.05); 
    box-shadow: 0 12px 20px rgba(128, 23, 15, 0.8); 
}

.blog-content {
    text-align: justify;
    padding: 10px;
    color: #000000; 
}

.blog-content h3 {
    color: #80170f;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .blog-post {
        max-width: 100%; 
    }
}



#portfolio {
    background-color: #ffffff;
    padding: 50px 20px;
    color: #80170f;
    text-align: center;
    font-size: 1rem; 
}

#portfolio p {
    color: #000000;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.item {
    flex: 1 0 calc(30% - 20px); 
    margin: 10px;
    max-width: 30%;
    min-width: 200px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .portfolio-row {
        flex-direction: column;
        align-items: center;
    }
  
    .item {
        max-width: 100%; 
        margin-bottom: 20px; 
    }
}

.view-project {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #80170f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


#contacts {
    background-color: #fff;
    padding: 50px 20px;
    color: #80170f;
    text-align: center;
}

.contact-info {
    margin-bottom: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #80170f;
    border-radius: 5px;

}

button {
    padding: 10px 20px;
    background-color: #80170f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background-color: #80170f;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

.social-links li {
    margin: 0 10px;
}

.social-links li a {
    color: white;
    text-decoration: none;
}

.social-links li a:hover {
    color: #80170f;
}

footer .copyright {
    color: white;
    text-decoration: none; 
    pointer-events: none;
}    
